<div class="body">
    <img class="fondoPrincipal" src="../../../assets/Index/fondoContacto.svg">
</div>
<div class="informacion">
    <div class="container">
        <div class="jumbotron bg-light slide-fwd-center">
            <div class="row">
                <div class="col-md-8">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.4023001735163!2d-73.25018314993193!3d10.468917892493936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8ab9b9833ae16d%3A0x6098340dedaa2070!2sCra.%2013%20%2319-5%2C%20Valledupar%2C%20Cesar!5e0!3m2!1ses!2sco!4v1585267390943!5m2!1ses!2sco"
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-4">
                    <h4 class="h4 text-uppercase">Dirección</h4>
                    <p>{{direccion}}</p>
                    <br>
                    <h4 class="h4 text-uppercase">Contacto</h4>
                    <p> +57 {{contacto}}</p>
                    <br>
                    <h4 class="h4 text-uppercase">Horario de atención</h4>
                    <p> <span class="h6">Lunes a Viernes</span><br> 8:00 am a 12:00 am <br> 2:00 pm a 6:00pm <br> </p>
                    <p> <span class="h6">Sabados</span><br> 8:00 am a 12:00 am <br> </p>
                </div>
            </div>
        </div>
    </div>
</div>