.body {
    width: 100%;
    position: absolute;
    z-index: -1000;
}

.fondoPrincipal {
    width: 100%;
}

.informacion {
    position: absolute; 
    width: 100%; 
    z-index: -999;
    top: 12%;
}

.jumbotron {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

@media only screen and (min-width: 600px) {
    .body {
        width: 80%;
    }

    .fondoPrincipal {
        width: 95%;
    }

    .informacion {
        top: 20%;
    }
    
}