<div class="body">
    <img class="fondoPrincipal" src="../../../assets/Index/fondoPerro.svg">
</div>
<div class="informacion">
    <div class="container">
        <div class="jumbotron  slide-fwd-right">
            <h1 class="h1 text-uppercase text-right">LO MEJOR PARA TU MASCOTA</h1>
            <p class="text-justify text-right">En nuestra clínica nos encargamos del cuidado felino y canino con la mejor atención, la tecnología y técnicas veterinarias adecuadas para cumplir todas las necesidades para el mejoramiento de tu mascota.</p>
        </div>
    </div>
    <br>
    <br>    
    <div class="jumbotron bg-light">
        <div class="container">
            <div class="clearfix d-flex">
                <div class="texto float-left w-50 mr-5">
                    <h2 class="h2 text-uppercase">Nuestros productos</h2>
                    <p class="text-justify">Nuestra clínica veterinaria ofrece los productos para la correcta recuperación de tu mascota, así como una gran variedad de alimentos caninos y felinos de la mano de CHUNKY, además de productos de prevención de plagas y limpieza ideal para el cuidado de tu mejor amigo.</p>
                </div>
                <div class="float-right">
                    <img class="float-right service" src="../../../assets/Index/fondoProductos.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="clearfix d-flex">
                <div class="float-left"> 
                    <img class="float-left service" src="../../../assets/Index/fondoServicios.svg">
                </div>
                <div class="texto float-right w-50 ml-5">
                    <h2 class="h2 text-uppercase">Nuestros servicios</h2>
                    <p class="text-justify">En nuestra clínica veterinaria nos encargamos de brindar el  mejor cuidado, la mejor tecnología, además de los mejores  programas de hospitalización y tratamiento veterinario cumpliendo así todas las necesidades para el mejoramiento de tu mascota.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron bg-light">
        <div class="container">
            <div class="clearfix d-flex">
                <div class="texto float-left w-50 mr-5">
                    <h2 class="h2 text-uppercase">Atención integral</h2>
                    <p class="text-justify">Nuestra clínica Veterinaria es especializada en Medicina Felina y Canina, presta servicios de prevención, diagnóstico y tratamiento, con técnicas especializadas y adecuadas a cada caso, así como el seguimiento hasta su total recuperación e incorporación, con las correctas condiciones de comportamiento y vida activa normalizada.</p>
                </div>
                <div class="float-right">
                    <img class="float-right service" src="../../../assets/Index/fondoIntegral.svg">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <img src="../../../assets/Index/fondoInferior.svg" class=" mx-auto d-block img-fluid">
        <div class="footer-copyright text-center text-light py-2 bg-dark">© 2020 Copyright:
            <a href="#" class="text-light">clinicacomoreyes.com</a>
        </div>
    </footer>
</div>