<nav class="navbar navbar-expand-lg navbar-light transparent">
    <div class="container">
        <div class="navbar-brand" href="#">
            <span class="name-uno text-dark">Clinica veterinaria</span>
            <br>
            <span class="name-dos text-white"><b>COMO REYES</b></span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" [ngClass]="{'active': seleccionado === 'inicio'}">
                    <a class="nav-link" (tap)="cambiarOpcion('inicio')">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" [ngClass]="{'active': seleccionado === 'servicios'}">
                    <a class="nav-link" (tap)="cambiarOpcion('servicios')">Servicios</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': seleccionado === 'productos'}">
                    <a class="nav-link" (tap)="cambiarOpcion('productos')">Productos</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': seleccionado === 'mision-vision'}">
                    <a class="nav-link" (tap)="cambiarOpcion('mision-vision')">Misión y Visión</a>
                </li>
                <li class="nav-item" [ngClass]="{'active': seleccionado === 'contactos'}">
                    <a class="nav-link" (tap)="cambiarOpcion('contactos')">Contactenos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>