.transparent {
    background-color: transparent;
}

.name-uno {
    font-size: 15px;
}

.name-dos {
    font-size: 25px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    padding-left: 20px;
}

nav {
    position: absolute;
    z-index: 1000;
    width: 100%;
}